name: CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '2.0.0'
          - '2.1'
          - '2.2'
          - '2.3.1'
          - '2.4.1'
          - 'jruby'
        gemfile:
          - gemfiles/no-deps.gemfile
          - gemfiles/json-latest.gemfile
          - gemfiles/json-old.gemfile
          - gemfiles/json-pure.gemfile
        exclude:
          - ruby: 'jruby'
            gemfile: gemfiles/json-old.gemfile

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
      BUNDLE_WITHOUT: docs:release:benchmark

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
      - name: Build
        run: bundle exec rake gem:build
      - name: Generate safe artifact name
        run: |
          # Replace / with - in the matrix variable
          SAFE_GEMFILE=$(echo "${{ matrix.gemfile }}" | tr '/' '-')
          echo "SAFE_ARTIFACT_NAME=gem-${{ matrix.ruby }}-${SAFE_GEMFILE}" >> $GITHUB_ENV
      - name: Upload gem
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.SAFE_ARTIFACT_NAME }}
          path: jmespath-1.4.0.gem
